.ui.container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.header-wrapper {
  margin-top: 10px;
  color:yellowgreen;
}

.inputfield-wrapper {
  margin-top: 50px;
}