.ui.container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.header-wrapper {
  margin-top: 10px;
  color:yellowgreen;
}

.inputfield-wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.ui.input {
  width: 100% !important;
}

.ui.primary.button.addtodo-button {
  margin-left: 10px !important;
}