.ui.container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.header-wrapper {
  margin-top: 10px;
  color:yellowgreen;
}

.inputfield-wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.ui.input {
  width: 100% !important;
}

.ui.primary.button.addtodo-button {
  margin-left: 10px !important;
}

.todolist-wrapper {
  padding: 20px;
}

.ui.checkbox {
  padding: 8px !important;
}

.ui.checkbox label {
  font-size: large !important;
}

.todolist-wrapper {
  display: flex;
  flex-direction: column;
}

.ui.checkbox.checked label {
  text-decoration: line-through;
}